body {
  background-color: #c3bfb4;
  text-align: center;
  font-family: 'Lora', serif;
  box-sizing :border-box;

}

#header-nav
{
  background-color: #75735f;

}
h1
{
  color: #ac743a;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-decoration: none;
}

.navbar-brand a:hover, .navbar-brand a:focus
{
  text-decoration: none;
}

.navbar-nav .nav-link {

    background-color: #c3bfb4;
    text-align: center; 
}

h2,h3,h4,h5{
  padding:10px;
  color: #743405;
  text-align: center;
  
}

section{
  background-color: #9b9e91;
  padding: 10px;
  margin-top:20px;
}

.navbar-collapse a {
  background-color: #9b9e91
}

#toggle-button{
  background-color: #ac743a;
}

